<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POEtrade.Properties.Settings.ABD41_18ConnectionString"
            connectionString="Data Source=10.10.0.120;Initial Catalog=ABD41_18;User ID=abd31_21;Password=123456qwerty."
            providerName="System.Data.SqlClient" />
        <add name="POEtrade.Properties.Settings.zxcConnectionString"
            connectionString="Data Source=10.10.0.120;Initial Catalog=zxc;Persist Security Info=True;User ID=abd31_21;Password=123456qwerty."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>